@charset "utf-8";
.responsive-img {
	max-width: 100%;
	height: auto;
}
.text-center {
	text-align: center !important;
}
.text-caja-inicio {
	text-align: left !important;
	font-size: 0.9em;
}
.foto_izquierda {
	float: left;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.foto_derecha {
	float: right;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}
.foto_centro {
	display: block;
	margin: auto;
}
.foto_izq_fuera {
	float: left;
	margin-top: -20px;
	margin-right: 10px;
	margin-bottom: 6px;
	margin-left: -40px;
}
.foto_der_fuera {
	float: right;
	margin-top: -20px;
	margin-right: -40px;
	margin-bottom: 6px;
	margin-left: 10px;
}
.marco {
	padding: 5px;
	border: solid 1px #cccccc;
}
#ref {
	padding: 0px;
	float: right;
	height: 22px;
	width: 103px;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: -6px;
	margin-left: 0px;
}
#ref a:link, #ref a:visited {
	background-image: url(../img/img_gen/referencias.png);
	background-repeat: no-repeat;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 22px;
	width: 103px;
}
#ref a:hover {
	margin-top: 2px;
}
/*omar*/

.sombra {
	-webkit-box-shadow: 10px 10px 10px -10px #7A7A7A;
	box-shadow: 10px 10px 10px -10px #7A7A7A;
	border: 1px solid #CCC;
	padding: 6px;
	background-color: #FFF;
}
.rotar_derecha {
	-ms-transform: rotate(2deg); /* IE 9 */
	-webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
	transform: rotate(2deg);
}
.rotar_izquierda {
	-ms-transform: rotate(-2deg); /* IE 9 */
	-webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
	transform: rotate(-2deg);
}
.alert-success h3, .alert-danger h3, .alert-warning h3, .alert-info h3 {
	color: inherit;
}
.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}
.bs-callout-danger {
	border-left-color: #ce4844
}
.bs-callout-danger h4 {
	color: #ce4844
}
.bs-callout-warning {
	border-left-color: #aa6708
}
.bs-callout-warning h4 {
	color: #aa6708
}
.bs-callout-info {
	border-left-color: #1b809e
}
.bs-callout-info h4 {
	color: #1b809e
}
.modal-title {
	margin: 0;
	line-height: 1.42857143;
	font-size: 1.5em;
}
.label-unidad {
	background-color: #5d727d;
}
.label-unidad[href]:hover, .label-unidad[href]:focus {
	background-color: #76878f;
}
.badge {
	background-color: #51a5b4;
}
.shadow {
	-webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
}
.verticalLine {
	border-right-width: thin;
	border-right-style: dotted;
	border-right-color: #999;
	padding-right: 20px;
}
.verticalLineTwo {
	border-right-width: thin;
	border-right-style: dotted;
	border-right-color: #999;
	padding-right: 10px;
	padding-left: 10px;
	border-left-width: thin;
	border-left-style: dotted;
	border-left-color: #999;
}

.tit_destacado {
	font-family: 'Roboto', sans-serif;
	font-size: 1.4em;
	font-weight: normal;
	color: #060;
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #990;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
}
.text_destacado {
	font-family: 'Handlee', cursive;
	font-size: 1.3em;
	color: #003366;
	text-align: left;
	font-style: normal;
	line-height: 1.1em;
	padding: 6px;
	font-weight: bold;
}
.back_inicio {
	min-height: 380px;
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 15px;
	padding-right: 15px;
	vertical-align: bottom;
	background-image: url(../img/img_un/bg_inicio.jpg);
	background-repeat: repeat-x;
	background-position: center 10px;
}
.back_azulino {
	text-align: center;
	vertical-align: bottom;
	background-image: url(../img/img_un/bg_azulino.jpg);
	background-repeat: repeat-x;
	background-position: center 10px;
}
.clip {
	float: right;
	margin-top: -41px;
	margin-left: 10px;
	z-index: 100;
}
/* Lección */

.linea {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
.texto_sobre_foto {
	font-size: 26px;
	font-weight: bold;
	color: #FFF;
	text-shadow: black 0.1em 0.1em 0.2em
}
/* Lección */

#rotargear {
	-webkit-animation: rotation 5s infinite linear;
}
 @-webkit-keyframes rotation {
 from {
 -webkit-transform: rotate(0deg);
}
to {
	-webkit-transform: rotate(359deg);
}
}
#rotargear2 {
	-webkit-animation: rotation2 5s infinite linear;
}
 @-webkit-keyframes rotation2 {
 from {
 -webkit-transform: rotate(359deg);
}
to {
	-webkit-transform: rotate(0deg);
}
}
.linea_base {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
.back_linea_horizontal {
	vertical-align: middle;
	background-image: url(../img/img_un/lin.gif);
	background-repeat: repeat-x;
	background-position: center center;
}
.cajapregunta {
	padding: 6px;
	font-size: 0.8em;
	margin: 6px;
	min-height: 60px;
	min-width: 90%;
}
.cajaarrastrable {
	padding: 6px;
	font-size: 0.8em;
	margin: 6px;
	min-height: 60px;
	min-width: 90%;
	text-align: center;
	border-left: 8px solid #f07d00;
}
.caja2 {
	margin: 16px;
	padding: 26px;
	background-color: #f2edcc;
	color: #625d3b;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	border-top: 6px solid #f07d00;
}
.caja_inicio {
	margin: 4px;
	padding: 12px;
	background-color: #FFF;
	min-height: 154px;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.30);
	border-top: 4px solid #f07d00;
	text-align: center;
	background-image: url(../img/img_un/fl.gif);
	background-repeat: repeat-x;
	background-position: center top;
}
.caja {
	margin: 14px;
	padding: 20px;
	background-color: #FFF;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.30);
	border-top: 6px solid #f07d00;
}
.back_01 {
	vertical-align: top;
	background-image: url(../img/img_un/bg_01.jpg);
	background-repeat: repeat-x;
	background-position: center 0px;
}
.back_02 {
	vertical-align: top;
	background-image: url(../img/img_un/bg_02.jpg);
	background-repeat: repeat-x;
	background-position: center 0px;
}
.back_03 {
	vertical-align: top;
	background-image: url(../img/img_un/bg_03.jpg);
	background-repeat: repeat-x;
	background-position: center 0px;
	min-height:204px;
}
.back_04 {
	vertical-align: top;
	background-image: url(../img/img_un/bg_04.jpg);
	background-repeat: repeat-x;
	background-position: center 0px;
	min-height:217px;
}
.back_05 {
	vertical-align: top;
	background-image: url(../img/img_un/bg_05.jpg);
	background-repeat: no-repeat;
	background-position: right 0px;
	min-height:430px;
}
.back_06 {
	vertical-align: top;
	background-image: url(../img/img_un/bg_06.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	min-height:117px;
}
.back_07 {
	vertical-align: top;
	background-image: url(../img/img_un/bg_07.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	min-height:137px;
	padding-top:60px;
}
.back_08 {
	vertical-align: top;
	background-image: url(../img/img_un/bg_08.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	min-height:137px;
	padding-top:60px;
}
.f_bg_01 {
	vertical-align: top;
	background-image: url(../img/img_un/f_bg_01.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	min-height: 430px;
}
.f_bg_02 {
	vertical-align: top;
	background-image: url(../img/img_un/f_bg_02.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	min-height: 430px;
}
.f_bg_03 {
	vertical-align: top;
	background-image: url(../img/img_un/f_bg_03.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	min-height: 430px;
}
.f_bg_04 {
	vertical-align: top;
	background-image: url(../img/img_un/f_bg_04.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	min-height: 430px;
}
.f_bg_05 {
	vertical-align: top;
	background-image: url(../img/img_un/f_bg_05.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	min-height: 430px;
}
.f_bg_06 {
	vertical-align: top;
	background-image: url(../img/img_un/f_bg_06.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	min-height: 430px;
}
.back_resumen {
	text-align: center;
	vertical-align: bottom;
	background-image: url(../img/img_un/back_resumen.jpg);
	background-repeat: repeat-x;
	background-position: center 20px;
}
.back_pregunta {
	text-align: center;
	vertical-align: bottom;
	background-image: url(../img/img_un/un3_02.jpg);
	background-repeat: repeat-x;
	background-position: center 10px;
}
