@charset "utf-8";
/* course body container */
p, td {
	font-family: 'Roboto', sans-serif;
	font-size: 1.0em;
	font-weight: normal;
	text-align: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 16px;
	margin-left: 0px;
	line-height: 1.5em;
}

.course-title {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	color: #03435a;
	margin: 20px;
	float: right;
	width: 33%;
	text-align: right;
}
h1 {
  font-size: 1.6em;
  font-weight: Extra-Light;
  color: #113321;
  text-align: left;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #CCC;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 0px;
  line-height:normal;
}
h1 a:link, h1 a:visited {
  color: #069;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
h1 a:hover {
  color: #5897D0;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  color: #000;
  text-align: left;
  vertical-align: bottom;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #CCC;
  padding-top: 0px;
  padding-bottom: 3px;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  font-style: normal;
  line-height:normal;
}
h2 a:link, h2 a:visited {
  color: #069;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
h2 a:hover {
  color: #5897D0;
}
h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	font-weight: normal;
	color: #000;
	text-align: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	font-weight: normal;
	color: #000;
	text-align: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	padding-bottom: 4px;
}
h4 a:link, h1 a:visited {
	color: #069;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}
h5 {
	font-family:'Roboto', sans-serif;
	font-size: 1.4em;
	font-weight: 400;
	color: #066732;
	text-align: left;
	vertical-align: bottom;
	width: 100%;
	margin: 0px;
	padding: 0px;
	padding-bottom:10px;
	font-style: normal;
	line-height: normal;
}
h6 {
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #999999;
	text-align: right;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #ccc;
	font-style: italic;
	line-height: 1.5em;
	padding: 0px;
	margin-top: 10px;
}
.ad1 {
  -webkit-animation-delay: 500ms;
}
.ad2 {
  -webkit-animation-delay: 1s;
}
.ad3 {
  -webkit-animation-delay: 1500ms;
}
.ad4 {
  -webkit-animation-delay: 2s;
}
.ad5 {
  -webkit-animation-delay: 2500ms;
}
.ad6 {
  -webkit-animation-delay: 3s;
}
.ad7 {
  -webkit-animation-delay: 3500ms;
}
.ad8 {
  -webkit-animation-delay: 4s;
}
.ad9 {
  -webkit-animation-delay: 4500ms;
}
.ad10 {
  -webkit-animation-delay: 5s;
}
.ad11 {
  -webkit-animation-delay: 5500ms;
}
.ad12 {
  -webkit-animation-delay: 6s;
}
.ad13 {
  -webkit-animation-delay: 6500ms;
}
.ad14 {
  -webkit-animation-delay: 7s;
}
.ad15 {
  -webkit-animation-delay: 7500ms;
}
.ad16 {
  -webkit-animation-delay: 8s;
}
.ad17 {
  -webkit-animation-delay: 8500ms;
}
.ad18 {
  -webkit-animation-delay: 9s;
}
.foto_izquierda {
	float: left;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.foto_derecha {
	float: right;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}
.foto_centro {
	display: block;
	margin: auto;
}
.foto_izq_fuera {
	float: left;
	margin-top: -20px;
	margin-right: 10px;
	margin-bottom: 6px;
	margin-left: -40px;
}
.foto_der_fuera {
	float: right;
	margin-top: -20px;
	margin-right: -40px;
	margin-bottom: 6px;
	margin-left: 10px;
}
.marco {
	padding: 5px;
	border: solid 1px #cccccc;
}
.clip {
	float: right;
	margin-top: -41px;
	margin-left: 10px;
	z-index: 100;
}